body {
background-color:#9CEE59;

}

#elso {
    width: 980px;
    margin: auto;
    left: 0;
    right: 0;
    
    
}

td {

border: 2px solid black;
}

#kep {
    
    width: 940px;
}

#masodik {
    margin: auto;
    width: 940px;
    background-color: white;
}

td a {
    
    text-decoration: none;
}

#td2 {
text-align: left;
}

.fekete {
    background-color: black;
    color: white;
}

a {
   color: #999999;
}

#tabla2 {
    position: absolute;
    top: 200px;
    left: 100px;
}